<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_config</key>
	<dict>
		<key>defaults</key>
		<dict>
			<key>urlProtocol</key>
			<string>https</string>
		</dict>
	</dict>
	<key>[[loginUser]]</key>
	<dict>
		<key>source</key>
		<dict>
			<key>[sessionRefresh]</key>
			<dict>
				<key>url</key>
				<dict>
					<key>protocol</key>
					<string>http</string>
					<key>format</key>
					<string>login.cfm?message=NONE&amp;FRAME=false</string>
				</dict>
			</dict>
			<key>[submitCredentials]</key>
			<dict>
				<key>url</key>
				<dict>
					<key>format</key>
					<string>login.cfm?message=NONE&amp;FRAME=false</string>
					<key>httpMethod</key>
					<string>POST</string>
					<key>protocol</key>
					<string>https</string>
					<key>postVariables</key>
					<dict>
						<key>{username}</key>
						<string>user</string>
						<key>{password}</key>
						<string>pass</string>
						<key>{__xsToken}</key>
						<string>xsToken</string>
					</dict>
				</dict>
			</dict>
			<key>[isLoggedIn]</key>
			<dict>
				<key>url</key>
				<dict>
					<key>format</key>
					<string>person.cfm</string>
				</dict>
			</dict>
		</dict>
		<key>output</key>
		<dict>
			<key>[verifyCredentials]</key>
			<dict>
				<key>parseCyclesMergeKeys</key>
				<array>
					<dict>
						<key>xPath</key>
						<string>//a[text()=&quot;Edit Profile&quot;]</string>
						<key>xCaptures</key>
						<dict>
							<key>{personId}</key>
							<string>@href /personId=([\w-]+)/</string>
						</dict>
					</dict>
					<dict>
						<key>xPath</key>
						<string>//h2</string>
						<key>xCaptures</key>
						<dict>
							<key>{realName}</key>
							<string>text</string>
						</dict>
					</dict>
					<dict>
						<key>xPath</key>
						<string>//div[@class=&quot;bold&quot;]</string>
						<key>pattern</key>
						<string>(.*?)\s+\#(\d+)</string>
						<key>captures</key>
						<dict>
							<key>{type}</key>
							<integer>1</integer>
							<key>{membershipNo}</key>
							<integer>2</integer>
						</dict>
					</dict>
					<dict>
						<key>xPath</key>
						<string>//div[@class=&quot;bold&quot; and position()=1]/following-sibling::div[1]</string>
						<key>pattern</key>
						<string>(\d+/\d+/\d+) - (\d+/\d+/\d+)</string>
						<key>captures</key>
						<dict>
							<key>{startDateString}</key>
							<integer>1</integer>
							<key>{endDateString}</key>
							<integer>2</integer>
						</dict>
					</dict>
				</array>
			</dict>
			<key>[isLoggedIn]</key>
			<dict>
				<key>parse</key>
				<dict>
					<key>xPath</key>
					<string>//li[@class=&quot;active&quot;]/a</string>
					<key>xCaptures</key>
					<dict>
						<key>{isLoggedIn}</key>
						<string>text #(My Profile)#</string>
					</dict>
				</dict>
			</dict>
			<key>[fetchToken]</key>
			<dict>
				<key>parse</key>
				<dict>
					<key>xPath</key>
					<string>//form/input[@name=&quot;__xsToken&quot;]</string>
					<key>xCaptures</key>
					<dict>
						<key>xsToken</key>
						<string>@value</string>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>[[refreshReservations]]</key>
	<dict>
		<key>source</key>
		<dict>
			<key>[refreshReservations]</key>
			<dict>
				<key>url</key>
				<dict>
					<key>format</key>
					<string>person-calendar.cfm?personId=%@</string>
					<key>variables</key>
					<array>
						<string>personId</string>
					</array>
				</dict>
			</dict>
		</dict>
		<key>output</key>
		<dict>
			<key>[refreshReservations]</key>
			<dict>
				<key>parse</key>
				<dict>
					<key>xPath</key>
					<string>//table[@class=&quot;table&quot;]/tr</string>
					<key>matchesAsArray</key>
					<dict>
						<key>all</key>
						<true/>
					</dict>
					<key>xCaptures</key>
					<dict>
						<key>workoutId</key>
						<string>@onclick #AppointmentId=([\w\-]+)#</string>
						<key>status</key>
						<string>child{td}.child{div}[3].child{span}.text</string>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>[[queryWorkout]]</key>
	<dict>
		<key>source</key>
		<dict>
			<key>[getDetail]</key>
			<dict>
				<key>url</key>
				<dict>
					<key>format</key>
					<string>appointment.cfm?appointmentId=%@</string>
					<key>variables</key>
					<array>
						<string>workoutId</string>
					</array>
				</dict>
			</dict>
			<key>[signup]</key>
			<dict>
				<key>url</key>
				<dict>
					<key>format</key>
					<string>appointment-register.cfm?AppointmentId=%@&amp;personId=%@&amp;MembershipId=%@</string>
					<key>variables</key>
					<array>
						<string>workoutId</string>
						<string>personId</string>
						<string>membershipId</string>
					</array>
				</dict>
			</dict>
			<key>[cancelSignup]</key>
			<dict>
				<key>url</key>
				<dict>
					<key>format</key>
					<string>appointment-cancel.cfm?AppointmentId=%@&amp;AttendanceId=%@</string>
					<key>variables</key>
					<array>
						<string>workoutId</string>
						<string>attendanceId</string>
					</array>
				</dict>
			</dict>
			<key>[waitlist]</key>
			<dict>
				<key>url</key>
				<dict>
					<key>format</key>
					<string>dialog-waitlist-join.cfm?appointmentId=%@&amp;personId=%@&amp;membershipId=%@</string>
					<key>variables</key>
					<array>
						<string>workoutId</string>
						<string>personId</string>
						<string>membershipId</string>
					</array>
				</dict>
			</dict>
			<key>[cancelWaitlist]</key>
			<dict>
				<key>url</key>
				<dict>
					<key>format</key>
					<string>dialog-waitlist-cancel.cfm?waitlistId=%@</string>
					<key>variables</key>
					<array>
						<string>waitlistId</string>
					</array>
				</dict>
			</dict>
		</dict>
		<key>output</key>
		<dict>
			<key>[getDetail]</key>
			<dict>
				<key>parseCyclesMergeKeys</key>
				<array>
					<dict>
						<key>xPath</key>
						<string>//tbody/tr[1]/td[2]/a</string>
						<key>xCaptures</key>
						<dict>
							<key>{membershipId}</key>
							<string>@href #[Mm]embershipId=([\w-]+)#</string>
							<key>{attendanceId}</key>
							<string>@href #[Aa]ttendanceId=([\w\-]+)#</string>
							<key>{waitlistId}</key>
							<string>@href #[Ww]aitlistId=([\w\-]+)#</string>
						</dict>
					</dict>
					<dict>
						<key>xPath</key>
						<string>//div[@class=&quot;spaceAbove&quot;]</string>
						<key>xCaptures</key>
						<dict>
							<key>{cannotUndo}</key>
							<string>child{text}[3].content #(can no longer be canceled)#</string>
						</dict>
					</dict>
					<dict>
						<key>xPath</key>
						<string>//div[@class=&quot;red&quot;]</string>
						<key>xCaptures</key>
						<dict>
							<key>{waitlistIsFull}</key>
							<string>text #(WAITLIST IS FULL)#</string>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
