<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_config</key>
	<dict>
		<key>defaults</key>
		<dict>
			<key>urlProtocol</key>
			<string>http</string>
		</dict>
	</dict>
	<key>[[fetchWorkouts]]</key>
	<dict>
		<key>source</key>
		<dict>
			<key>[fetchWorkouts]</key>
			<dict>
				<key>url</key>
				<dict>
					<key>format</key>
					<string>cgi-bin/schedule.cgi?gymId=%@&amp;startDate=%@&amp;period=%@&amp;timeZone=%@</string>
					<key>variables</key>
					<array>
						<string>gymId</string>
						<string>startDate</string>
						<string>period</string>
						<string>timeZone</string>
					</array>
				</dict>
			</dict>
			<key>[fetchSpotsRemaining]</key>
			<dict>
				<key>url</key>
				<dict>
					<key>format</key>
					<string>cgi-bin/spots.cgi?gymId=%@&amp;date=%@</string>
					<key>variables</key>
					<array>
						<string>gymId</string>
						<string>date</string>
					</array>
				</dict>
			</dict>
			<key>[fetchWorkoutDesc]</key>
			<dict>
				<key>url</key>
				<dict>
					<key>format</key>
					<string>/cgi-bin/wod.cgi?gymId=%@&amp;date=%@</string>
					<key>variables</key>
					<array>
						<string>gymId</string>
						<string>date</string>
					</array>
				</dict>
			</dict>
		</dict>
		<key>output</key>
		<dict>
			<key>[fetchWorkouts]</key>
			<dict>
				<key>serializationType</key>
				<string>JSON</string>
			</dict>
			<key>[fetchSpotsRemaining]</key>
			<dict>
				<key>serializationType</key>
				<string>JSON</string>
			</dict>
			<key>[fetchWorkoutDesc]</key>
			<dict>
				<key>serializationType</key>
				<string>JSON</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
