<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_validated</key>
	<true/>
	<key>_common</key>
	<dict>
		<key>addGymUrl</key>
		<string>http://www.cindysoftware.com/apps/gymclass/addGymActual.html</string>
		<key>addGymMessage</key>
		<string>Not all gyms eligible. Request addition of your local gym at: cindysoftware.com/addGym.html</string>
                <key>contactMessage</key>
                <string>What's good, bad, or needed? Please email: feedback@cindysoftware.com</string>
		<key>timeZone</key>
		<string>America/New_York</string>
		<key>workoutStatusReserved</key>
		<string>Reserved</string>
		<key>workoutStatusWaitlist</key>
		<string>Waitlist</string>
		<key>timeoutInterval</key>
		<dict>
			<key>appConfig</key>
			<string>86400</string>
			<key>gymWebConfig</key>
			<integer>86400</integer>
			<key>servicerWebConfig</key>
			<real>86400</real>
			<key>signupWebConfig</key>
			<real>86400</real>
			<key>instructors</key>
			<integer>86400</integer>
			<key>locations</key>
			<integer>86400</integer>
			<key>filterListsRefresh</key>
			<integer>3600</integer>
			<key>workoutListings</key>
			<integer>1800</integer>
			<key>wodDesc</key>
			<integer>1800</integer>
			<key>workoutDetail</key>
			<integer>300</integer>
			<key>workoutSpotsRemaining</key>
			<integer>300</integer>
			<key>workoutSignupStatuses</key>
			<integer>60</integer>
		</dict>
	</dict>
	<key>gyms</key>
	<dict>
		<key>CROSSFITNYC</key>
		<dict>
			<key>displayLongName</key>
			<string>CrossFit NYC: The Black Box</string>
			<key>displayShortName</key>
			<string>CrossFit NYC</string>
			<key>servicerSubdomain</key>
			<string>crossfitnyc</string>
			<key>servicerType</key>
			<string>ZENPLANNER</string>
			<key>scrapeLocalWebsite</key>
			<true/>
			<key>canFetchWodDesc</key>
			<true/>
			<key>canFilterByLocation</key>
			<true/>
			<key>canFilterByInstructor</key>
			<true/>
			<key>nearFull</key>
			<integer>5</integer>
			<key>cannotUndoWithinMins</key>
			<integer>60</integer>
			<key>timeZone</key>
			<string>America/New_York</string>
			<key>workoutPreMapDisplayNameRegEx</key>
			<string>(.*?)\s*\(</string>
			<key>canFetchSpotsRemaining</key>
			<true/>
			<key>locationNamesMap</key>
			<dict/>
			<key>depricatedLocations</key>
			<dict/>
			<key>depricatedInstructors</key>
			<dict>
				<key>WODIFY</key>
				<true/>
				<key>Staff Staff</key>
				<string>YES</string>
			</dict>
			<key>maxDaysForwardAllowedForSignup</key>
 			<integer>8</integer>
		</dict>
		<key>CROSSFITLIC</key>
		<dict>
			<key>displayLongName</key>
			<string>CrossFit Long Island City</string>
			<key>displayShortName</key>
			<string>CrossFit LIC</string>
			<key>servicerSubdomain</key>
			<string>crossfitlic</string>
			<key>servicerType</key>
			<string>ZENPLANNER</string>
			<key>scrapeLocalWebsite</key>
			<false/>
			<key>canFetchWodDesc</key>
			<true/>
			<key>canFilterByLocation</key>
			<true/>
			<key>canFilterByInstructor</key>
			<true/>
			<key>nearFull</key>
			<integer>5</integer>
			<key>cannotUndoWithinMins</key>
			<integer>60</integer>
			<key>timeZone</key>
			<string>America/New_York</string>
			<key>//workoutPreMapDisplayNameRegEx</key>
			<string>(.*?)\s*\(</string>
			<key>canFetchSpotsRemaining</key>
			<true/>
			<key>locationNamesMap</key>
			<dict/>
			<key>depricatedLocations</key>
			<dict/>
			<key>depricatedInstructors</key>
			<dict/>
		</dict>
		<key>CROSSFITAMITY</key>
		<dict>
			<key>displayLongName</key>
			<string>Amity CrossFit (Palo Alto, CA)</string>
			<key>displayShortName</key>
			<string>Amity CrossFit</string>
			<key>servicerSubdomain</key>
			<string>amitycrossfit</string>
			<key>servicerType</key>
			<string>ZENPLANNER</string>
			<key>scrapeLocalWebsite</key>
			<false/>
			<key>canFetchWodDesc</key>
			<false/>
			<key>canFilterByLocation</key>
			<true/>
			<key>canFilterByInstructor</key>
			<true/>
			<key>nearFull</key>
			<integer>5</integer>
			<key>cannotUndoWithinMins</key>
			<integer>60</integer>
			<key>timeZone</key>
			<string>America/Los_Angeles</string>
			<key>//workoutPreMapDisplayNameRegEx</key>
			<string>(.*?)\s*\(</string>
			<key>canFetchSpotsRemaining</key>
			<true/>
			<key>locationNamesMap</key>
			<dict/>
			<key>depricatedLocations</key>
			<dict/>
			<key>depricatedInstructors</key>
			<dict/>
		</dict>
		<key>CFSOLA</key>
		<dict>
			<key>displayLongName</key>
			<string>CrossFit South Lamar (TX)</string>
			<key>displayShortName</key>
			<string>CrossFit South Lamar</string>
			<key>servicerSubdomain</key>
			<string>cfsola</string>
			<key>servicerType</key>
			<string>ZENPLANNER</string>
			<key>scrapeLocalWebsite</key>
			<false/>
			<key>canFetchWodDesc</key>
			<false/>
			<key>canFilterByLocation</key>
			<true/>
			<key>canFilterByInstructor</key>
			<true/>
			<key>nearFull</key>
			<integer>5</integer>
			<key>cannotUndoWithinMins</key>
			<integer>60</integer>
			<key>timeZone</key>
			<string>America/Chicago</string>
			<key>//workoutPreMapDisplayNameRegEx</key>
			<string>(.*?)\s*\(</string>
			<key>canFetchSpotsRemaining</key>
			<true/>
			<key>locationNamesMap</key>
			<dict/>
			<key>depricatedLocations</key>
			<dict/>
			<key>depricatedInstructors</key>
			<dict/>
		</dict>
		<key>CFG</key>
		<dict>
			<key>displayLongName</key>
			<string>CrossFit Groundworks (WI)</string>
			<key>displayShortName</key>
			<string>CrossFit Groundworks</string>
			<key>servicerSubdomain</key>
			<string>cfg</string>
			<key>servicerType</key>
			<string>ZENPLANNER</string>
			<key>scrapeLocalWebsite</key>
			<true/>
			<key>canFetchWodDesc</key>
			<true/>
			<key>canFilterByLocation</key>
			<true/>
			<key>canFilterByInstructor</key>
			<true/>
			<key>nearFull</key>
			<integer>5</integer>
			<key>cannotUndoWithinMins</key>
			<integer>60</integer>
			<key>timeZone</key>
			<string>America/Chicago</string>
			<key>//workoutPreMapDisplayNameRegEx</key>
			<string>(.*?)\s*\(</string>
			<key>canFetchSpotsRemaining</key>
			<true/>
			<key>locationNamesMap</key>
			<dict/>
			<key>depricatedLocations</key>
			<dict/>
			<key>depricatedInstructors</key>
			<dict/>
		</dict>
		<key>ELEMENT</key>
		<dict>
			<key>displayLongName</key>
			<string>Element CrossFit (ON)</string>
			<key>displayShortName</key>
			<string>Element CrossFit</string>
			<key>servicerSubdomain</key>
			<string>elementcrossfit</string>
			<key>servicerType</key>
			<string>ZENPLANNER</string>
			<key>scrapeLocalWebsite</key>
			<false/>
			<key>canFetchWodDesc</key>
			<false/>
			<key>canFilterByLocation</key>
			<true/>
			<key>canFilterByInstructor</key>
			<true/>
			<key>nearFull</key>
			<integer>5</integer>
			<key>cannotUndoWithinMins</key>
			<integer>60</integer>
			<key>timeZone</key>
			<string>America/New_York</string>
			<key>//workoutPreMapDisplayNameRegEx</key>
			<string>(.*?)\s*\(</string>
			<key>canFetchSpotsRemaining</key>
			<true/>
			<key>locationNamesMap</key>
			<dict/>
			<key>depricatedLocations</key>
			<dict/>
			<key>depricatedInstructors</key>
			<dict/>
		</dict>
		<key>FARMINGDALE</key>
		<dict>
			<key>displayLongName</key>
			<string>CrossFit Farmingdale (NY)</string>
			<key>displayShortName</key>
			<string>CrossFit Farmingdale</string>
			<key>servicerSubdomain</key>
			<string>cffarmingdale</string>
			<key>servicerType</key>
			<string>ZENPLANNER</string>
			<key>scrapeLocalWebsite</key>
			<false/>
			<key>canFetchWodDesc</key>
			<false/>
			<key>canFilterByLocation</key>
			<true/>
			<key>canFilterByInstructor</key>
			<true/>
			<key>nearFull</key>
			<integer>5</integer>
			<key>cannotUndoWithinMins</key>
			<integer>60</integer>
			<key>timeZone</key>
			<string>America/New_York</string>
			<key>//workoutPreMapDisplayNameRegEx</key>
			<string>(.*?)\s*\(</string>
			<key>canFetchSpotsRemaining</key>
			<true/>
			<key>locationNamesMap</key>
			<dict/>
			<key>depricatedLocations</key>
			<dict/>
			<key>depricatedInstructors</key>
			<dict/>
		</dict>
	</dict>
</dict>
</plist>
